$grey1-rgba: rgba(15,16,17, 0.9);
$grey3: #9a9a9a;

.one-film-here {
    margin: 15px 0;
    color: $grey3;
}

.img-film {
    display: block;
    width: 100%;
    max-height: 500px;
    border-radius: 7px 7px 0 0;
    filter: brightness(80%);
    transition: filter 2s;
    object-fit: cover;
}

.img-film:hover, .img-film:active {
    filter: brightness(100%);
}

.film-description {
    background-color: $grey1-rgba;
    padding: 10px;
    border-radius: 0 0 7px 7px;
    word-wrap: break-word;
}

.film-title {
    display: block;
    font-size: 26px;
    word-wrap: break-word;
}