$grey2: #191A1E;
$white1: #F4F4F5;

$desktop-width: 1920px;

.container {
    max-width: $desktop-width;
    margin: 0 auto;
}

.content {
    padding-top: 15px;
    min-height: 100vh;
    background-color: $grey2;
    color: $white1;
    font-family: sans-serif;
    font-weight: 300;
}

.searchpagefilms-here {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 25px;
}

@media screen and (max-width: 1280px) {
    .searchpagefilms-here {
        justify-content: space-around;
        padding: 0 5px;
    }
}